:root {
    /*? FONT */
    --font: "Rubik", serif;

    /*? COLORS */
    --bg: #F5F6FA;
    --btnEnviar: #5357B6;
    --btnEliminar: #ED6368;
    --btnCancelar: #67727E;
    --inputComment: #FFFFFF;
    --text: #67727E;
    --title: #334253;
    --btnLikes: #C5C6EF;
    --lineTime: #979797;
    --bgBtnLikes: #F5F6FA;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*? UTILIDADES */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    background-color: #2E54F0;
}

.content__comments{
    width: 34.3rem;
    min-height: 100vh;
    background-color: #464343;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

@media (min-width: 768px) {
    .content__comments {
        width: 73rem;
    }
}

/* FORM COMMENT */
.comment__form{
    display: grid;
    gap: 1rem;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 34.3rem;
    height: 18.9rem;
    border-radius: .8rem;
    background-color: var(--inputComment);
    bottom: 2rem;
}

/* DISPOSITIVOS MOVILES */
.comment__form{
    align-items: flex-start;
    grid-template-areas: 
        "input input"
        "avatar button";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

@media(min-width: 768px){
    .comment__form{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        width: 73rem;
        height: 14.4rem;
    }
}

.comment__img{
    grid-area: avatar;
    width: 3.2rem;
    height: 3.2rem;
    margin-left: 2rem;
}

@media(min-width: 768px){
    .comment__img{
        width: 4rem;
        height: 4rem;
        margin-top: 2rem;
    }
}

.comment__text{
    grid-area: input;
    width: 31.1rem;
    height: 9.6rem;
    padding: 1rem;
    resize: none;
    border-radius: .8rem;
    border: .1rem solid #E9EBF0;
    margin: 0 auto;
    margin-top: 1rem;
}

.comment__text:focus{
    border-color: #2E54F0;
    border-width: 0.1rem;
    outline: none;
}

@media(min-width: 768px){
    .comment__text{
        width: 50.6rem;
        height: 11rem;
        margin-top: 2rem;
    }
}

.comment__btn{
    grid-area: button;
    width: 10.4rem;
    height: 4.8rem;
    background-color: var(--btnEnviar);
    color: var(--inputComment);
    border: none;
    border-radius: .8rem;
    cursor: pointer;
    font-family: var(--font);
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: 400;
    margin-left: 14rem;
    transition: all 300ms;
    text-transform: uppercase;
}

.comment__btn:hover{
    transition: all 300ms;
    background-color: #C5C6EF;
}

@media(min-width: 768px){
    .comment__btn{
        margin: 2rem 1rem 0 0;
    }
}

.comments__section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* COMMENTS */

.comment__box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--inputComment);
    border-radius: .8rem;
    height: 25.6rem;
    padding: 2rem;
    position: relative;
}

@media(min-width: 768px){
    .comment__box{
        height: 16.7rem;
        padding: 2rem 7rem 0 7rem;
    }
}

/* Selecciona todos los elementos que contengan --user  */
[class*="--user"]{
    width: 3.2rem;
    height: 3.2rem;
    margin-top: 0;
}

.comment__content{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.comment__user{
    font-family: var(--font);
    font-size: 1.6rem;
    color: var(--title);
    font-weight: 500;
    line-height: auto;
}

.comment__time{
    font-family: var(--font);
    font-size: 1.6rem;
    color: var(--text);
    font-weight: 400;
    line-height: 24px;
}

.comment__input{
    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text);
    line-height: 24px;
}

.comment__actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(min-width: 768px){
    .comment__actions{
        position: absolute;
        top: 2rem;
        left: 2rem;
        right: 2rem;
    }
}

.comment__likes--buttons{
    width: 10rem;
    height: 4rem;
    display: flex;
    align-items: center;
    gap: .8rem;
    background-color: #F5F6FA;
    border-radius: 1rem;
}

@media(min-width: 768px){
    .comment__likes--buttons{
        width: 4rem;
        height: 10rem;
        flex-direction: column;
    }
}

/* BUTTON PLUS */
.button__plus,
.button__minus{
    width: 10rem;
    height: 4rem;
    border: none;
    cursor: pointer;
    background-color: #F5F6FA;
    border-radius: 1rem;
}

@media(min-width: 768px){
    .button__plus,
    .button__minus{
        width: 4rem;
        height: 10rem;
    }
}

/* NUMBER LIKES */
.comment__likes{
    font-family: var(--font);
    color: var(--btnEnviar);
    font-size: 1.6rem;
    font-weight: 500;
}

.replies{
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    border: none;
    background-color: transparent;
    
}

@media(min-width: 768px){
    .replies{
        position: absolute;
        right: 2rem;;
        top: 0;
    }
}

.replie{
    font-family: var(--font);
    color: var(--btnEnviar);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 24px;
}


.replies__sectionz

/* BARRA PROGRES */
.barra{
    width: .2rem;
    background-color: #E9EBF0;
    margin: 1rem 0rem 0rem 1rem;
}

/* RESPUESTAS */
.replies__box{
    position: relative;
    left: 1rem;
    display: flex;
    width: 32.5rem;
    height: 28rem;
    border-radius: .8rem;
    background-color: #efac54;
    margin-top: 1rem;
}